/*color Pallete
Pink: color:#d11141;
Green: color:#00b159;
Blue: color:#00aedb;
Orange: color:#f37735;
Yellow: color:#ffc425;

*/
.mainBody{
  background-color:#00b159;
}
/*navigation bar*/
.navbar{
  background:url('pictures/jellybeanbkgd.jpg');
  background-repeat: repeat-x;
  color:#00aedb;/*blue*/
  opacity:0.95;
  border:none;
}
.navbar-header h2{
  background-color:white;
  border-radius:4px 12px;
  padding-right:5px;
  padding-left:5px;
}

.navbar-brand{
width: auto;
height:200px;
text-align: center;
}
.navbar ul li a{
  color:#00aedb !important;
  padding: 1px;
  text-decoration:none;
  background-color:white;
  border-radius:8px;
  margin-top:10px;
  padding-left:5px;
  padding-right:5px;
}
.navbar ul li a:hover{
  text-decoration:underline;
  color:#ffffff !important;
}

/*pictures for each section*/
.head-pic{
border-radius:2%;
}
.goalPic{
  margin:auto;

}
.aboutPic{
  margin: 5%;
  border-radius: 30%;
}
#prPic{
  margin-bottom:5%;
}

/*About me*/
.mainTitleGreen a{

  width:auto;
  color:#f37735;
  padding:2%;
  text-align: center;
  border-radius:6px 18px;
}
/*Ambassador Badges*/
.badge{
  background:none;
}
.badge:hover{
  opacity:0.5;
  text-decoration:none;
  background:none;
}
.whiteBack{
  background-color:white;
}

/*Subheading and blog post headings*/
h3{
  color:#d11141;
}

/*break line*/
hr{
  display:block;
  position: relative;
  padding: 0px;
  margin: 8px auto;
  height:0;
  max-height: 0;
  width:100%;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border-top: 2px dotted green;
  border-bottom: 1px solid white;
}
/*Headings*/
.mainTitle a{
  background-color:#00aedb;
  color:white;
  padding:2%;
  text-align: center;
  border-radius:6px 18px;
}
.fullBack{
  background-color: #00b159;
  color:white;
}
/*strava plugin*/
.strava{
  padding-top:20px;
  text-align:center;
  border-radius:4px 15px;
}
/*Goals*/
.goal{
  text-align:center;
  color:#d11141;

}
/*Blog*/
.blogTitle {
  color: #d11141;

}
.date{
  color: #00aedb;
}
.info{
  color:black;
}

/*footer*/
footer{
  text-align:center;
}
