.navbar{
  background:url('https://secure.static.tumblr.com/c11928ec9f129b07df8211b2b02f8d7a/xsaeuvf/YrHmuky0r/tumblr_static_jellybellypile2.jpg');
  background-repeat:repeat-y;
  color:#53a0db;/*blue*/
  opacity:0.95;
}
.navbar-header h2{
  background-color:white

}

.navbar-brand{
width: auto;
height:200px;
}
ul li a{
  color:#53a0db;
  text-decoration:none;
  background-color:white;
}
ul li a:hover{
  background-color:green;
  color:white;
}
/*pictures for each section*/
.head-pic{
height:200px;
width:auto;

}
/*break line*/
hr{
  display:block;
  position: relative;
  padding: 0px;
  margin: 8px auto;
  height:0;
  max-height: 0;
  width:100%;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border-top: 1px solid green;
  border-bottom: 1px solid white;
}

.mainTitle{
  background-color:#6AF2B7;
  color:white;
  padding:2%;
  text-align: center;
}
/*strava plugin*/
.strava{
  padding-top:20px;
  text-align:center

}
